@value brand,bgcolor,bgfontcolor from '../util/color.css';

.container{
  display:flex;
}

.videobox {
  width:60vw;
  padding: 2rem;
  color: bgfontcolor;
  line-height: 2rem;
}
.videobox > p {
  margin: 1.5rem 0;
}
iframe {
  width:100%;
  height: 640px;
  border: none;
}
.title {
  font-size: 2rem;
}

.playlistbox{
  padding: 2rem 0;
  list-style:none;
}


@media (max-width:768px){
  .container{
    flex-wrap: wrap;
    justify-content: center;

  }
  .videobox{
    width:90%;
  }
}