@value infocolor from '../util/color.css';

.list>img{
  width:100%;
}
p{
  margin: 0.5rem 0;
}
.title{
  font-size:1.1rem;
  font-weight: 600;
}
.channelid{
  color: infocolor;
  font-weight: 500;
}
.publish{
  color: infocolor;
  font-size: 0.8rem;
}